.category {

}

.video {
	margin-bottom: 5%;
}

.video_poster {
	img {
		width: 100%;
		height: 100%;
	}
	.timestamp {
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.5);
	}
	
}

.video_info {
	h3 {
		margin-bottom:0;
	}
	
	color: black;
	width: 100%;
	height: 100%;
}

.timestamp {
	background-color:rgba(0,0,0,0.5);
	color:white;
}




