.category {

}

.fancy-line {
	width: 75%;
	border-top: 1px solid black;
}

.video {
	&__poster {
		img {
			width: 100%;
			height: 100%;
		}
		
		&__timestamp {
			background-color: rgba(0,0,0,0.5);
			color: black;
		}
	}

	&__info {
		h3 {
			margin-bottom:0;
		}

		color: black;
		width: 100%;
		height: 100%;
	}

	a:hover {
		text-decoration: none;
	}
}

.player {
	margin-left: auto;
	margin-right: auto;
}
